.profile__edit-button {
  background-color: transparent;
  margin: 20px 0 0 0;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-image: url(../../../images/EditButton.svg);
  width: 10px;
  height: 10px;
  background-position: center;
}


.profile__edit-button:hover {
   opacity: 60%;
 }

@media screen and (max-width:920px) {
  .profile__edit-button {
    margin: 37px 0 0 0;
  }
}